<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doors & Wheels</title>
    <!-- CSS -->
</head>
<body>
    <!-- Winner is currently -->
    <div id="div-winner">
        <h1>The Winner is currently</h1>
        <!-- Door or Wheel depending on current count -->
    </div>
    <!-- Display -->
    <div class="div-display">
        <div id="Door Count">
            <!-- Current Door Count Number -->
            <h2>The Current Door Count is: </h2>
        </div>
        <div id="Wheel Count">
            <!-- Current Wheel Count Number -->
            <h2>The Current Wheel Count</h2>
        </div>
    </div>
    <!-- Rules for what counts as a door and a wheel -->
    <div id="div-rules">
        <span>
            <p>The Doors vs Wheels debate is sweeping across Tik Tok right now and this debate needs settled today!</p>
            <p>Essentially, this grand debate is over whether there are more doors or wheels in the world.</p>
            <p>This form will let you submit the count for your home to contribute to the overall count.</p>
            <p>For the purposes of this debate, your wheels count includes those from Legos, Hot Wheels, and so on.</p>
            <p>You also count cabinets are doors!</p>
        </span>
    </div>
    <!-- Form for counting responses-->
    <div id="div-form">
        <form action="" method="get" id="form">
            <div class="form-doors">
                <label for="doors">How many doors do you have? </label>
                <input type="number" name="doors" id="doors" required>
            </div>
            <div class="form-wheels">
                <label for="wheels">How many wheels do you have? </label>
                <input type="number" name="wheels" id="wheels" required>
            </div>
            <div class="form-submit">
                <input type="submit" value="Submit Your Count!">
            </div>
        </form>
    </div>
    <!-- Comment Section (MAYBE?) -->
</body>
</html>